@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --mainColor: #e2d4d4;
  --secondaryColor: #c99494;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: white;
}

button {
  padding: 5px;
  border-radius: 5px;
  font-size: 0.8rem;
  box-shadow: 0px 0px 5px 2px var(--mainColor);
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}

/* ---------- Nav ---------- */

#nav-wrapper {
  display: flex;
  justify-content: center;
  position: sticky;
  align-items: center;
  top: 0;
  width: 100vw;
  height: 7rem;
  background: var(--secondaryColor);
  box-shadow: 0px 2px 15px 3px black;
  z-index: 1;
}

#nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: calc(vw - 5rem);
  padding: 4rem 5rem;
  color: white;
  font-size: 1.5rem;
}

#nav-bars {
  font-size: 2rem;
  top: 5rem;
}

#nav-bars:hover,
#dropdown:hover #nav-bars,
#dropdown-list:hover #nav-bars {
  cursor: pointer;
  color: black;
}

#dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 7rem;
  cursor: pointer;
}

#dropdown-list {
  position: absolute;
  top: 7rem;
  list-style: none;
  text-align: center;
  background: rgba(8, 2, 2, 0.644);
  padding: 1rem 2rem 2rem 2rem;
}

#dropdown-list li {
  padding-top: 1rem;
}

#cart-icon-section {
  position: relative;
}

#cart-icon-section:hover {
  cursor: pointer;
  color: black;
}

#cart-icon-section:hover #cart-icon-amount {
  color: black;
  background: #d4e2d4;
}

#cart-icon-amount {
  font-size: 1rem;
  position: absolute;
  top: -10px;
  left: 20px;
  padding: 0 0.25rem;
  background: black;
  border-radius: 10px;
}

/* ---------- Hero ---------- */

#hero-wrapper {
  height: calc(100vh - 7rem);
  padding-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#d4e2d4, white);
}

#hero-text-area {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  height: 10rem;
  width: 50%;
  background: rgba(8, 2, 2, 0.644);
  color: #8cc0c0;
  border-radius: 10px;
  padding: 1rem;
}

#hero-header {
  font-size: 2rem;
  color: d4e2e2;
}

#chevron-down {
  position: fixed;
  top: calc(100% - 4rem);
  color: white;
  font-size: 3rem;
}

/* ---------- Products ---------- */

#products-wrapper {
  height: calc(100vh - 7rem);
  background: #f1e3eb7a;
  box-shadow: 0px 2px 15px 3px black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

#products-area {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 8rem;
  row-gap: 7rem;
}

#product-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.image-div {
  position: relative;
}

.image-div:hover .product-image {
  background: rgba(226, 212, 212, 0.5);
  border-radius: 20px;
}

.product-image {
  display: block;
  width: 100%;
  min-height: 12rem;
  min-width: 300px;
}

.add-cart-btn {
  position: absolute;
  bottom: -5%;
  right: 20%;
  width: 60%;
  padding: 10px;
  visibility: hidden;
}

.image-div:hover .add-cart-btn {
  visibility: visible;
}

#product-title {
  font-weight: 500;
  margin-top: 1.5rem;
}

#product-description {
  font-weight: 100;
  margin-top: 1.5rem;
}

#product-price {
  font-weight: 100;
  margin-top: 1rem;
}

/* ---------- About ---------- */

#about-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh);
  background: #d4e2e2;
  z-index: -3;
}

#about-info {
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

#about-title {
  margin-bottom: 2rem;
  font-size: 3rem;
}

#about-paragraph {
  text-align: center;
}

/* ---------- Form ---------- */

#form-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 15px 3px black;
  height: calc(100vh);
}

#form-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 50%;
  padding: 5rem 0;
}

#contact-form input {
  padding: 5px;
  margin-left: 1rem;
}

#contact-form div {
  padding: 7px 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* ---------- Footer ---------- */

#footer-section {
  background: var(--mainColor);
  padding: 1rem 0;
}

#footer-section h6 {
  padding-top: 1.5rem;
}

/* ---------- Overlay ---------- */

#overlay {
  position: fixed;
  top: 7rem;
  height: 100vh;
  left: 0;
  width: 70%;
  background: rgba(150, 89, 32, 0.377);
}

/* ---------- Cart ---------- */

#cart-wrapper {
  z-index: 1;
  position: fixed;
  top: 7rem;
  right: 0;
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(184, 166, 166, 0.8);
  overflow: scroll;
}

#cart-header {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin-top: 1.5rem;
  font-size: 1.2rem;
}

#close-cart-btn {
  font-size: 1.5rem;
  position: absolute;
  top: 0;
  right: 0;
}

#close-cart-btn:hover {
  cursor: pointer;
  font-size: 1.8rem;
  color: white;
}

#cart-product-area {
  height: 600px;
}

#cart-item-div {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cart-item-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-product-image {
  width: 45%;
  height: 40%;
}

#cart-item-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.75 rem;
  margin-bottom: 1.5rem;
}

#cart-item-amount {
  display: flex;
  justify-content: space-evenly;
  width: 25%;
}

#cart-total-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

/* ---------- Responsive Media Queries ---------- */

@media only screen and (max-width: 300px) {
  #products-area {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (min-width: 300px) and (max-width: 769px) {
  #products-area {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 768px) {
  #products-area {
    grid-template-columns: repeat(3, 1fr);
  }
}
